.s-last-news {
  color: color(text-primary) !important;
  background: color(primary);

  > .container {
    > .c-title {
      @extend %fs-33;

      font-weight: 700;
      width: fit-content;
      margin: auto;
    }
  }

  &__text {
    margin-top: rem(8);
  }

  &-posts {
    margin-top: rem(32);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: rem(20);
    grid-row-gap: rem(24);

    @include lessThan(laptop) {
      @include flex(column, nowrap, center, center);

    }

    .c-post {
      &:nth-child(1) {
        grid-column: span 5;
        grid-row: 1/4;

        flex-direction: column;
        justify-content: start;
        gap: rem(8);
        border-bottom: rem(1) solid color(text-primary);
        padding-bottom: rem(5);

        .c-post {
          &-image {
            height: 100%;
            max-height: rem(304);

            .c-image {
              width: 100%;
            }
          }

          &-content-body__excerpt {
            @extend %fs-16;
          }
        }

        @include lessThan(laptop) {

          flex-direction: row;
          gap: rem(20);
          border-bottom: none;

          .c-post {
            &-image {
              max-height: initial;
              height: rem(166);

              .c-image {
                width: rem(196);
              }
            }

            &-content-body__excerpt {
              font-size: rem(13) !important;
            }
          }
        }
      }

      &:nth-child(2) {
        grid-column: span 7;
        grid-row: 1/2;
      }

      &:nth-child(3) {
        grid-column: span 7;
        grid-row: 2/3;
      }

      &:nth-child(4) {
        grid-column: span 7;
        grid-row: 3/4;
      }
    }
  }

  &-btn {
    margin-inline: auto;
    margin-top: rem(48);
  }
}
