.c-filter {
  &-buttons {
    @include flex(row, wrap, start, center);
    gap: rem(20);

    @include lessThan(mobileonly) {
      justify-content: center;
    }

    .btn {
      @extend %fs-16;

      padding: rem(9) rem(20);
      max-width: initial;
      font-weight: 400;

      &--active {
        color: color(primary);

        &:before {
          transform: translateY(0);
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }
}
